@font-face {
  font-family: "Sohne";
  src: url("../assets/fonts/sohne-buch.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("../assets/fonts/sohne-kraftig.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 600px;
  margin-inline: auto;

  background-color: black;
  color: white;
  font-family: "Sohne";
}

h1 {
  font-size: 50px;
  text-align: center;
}

h1,
form {
  margin-block: 12px;
}

p {
  font-size: 19px;
}

#guessField {
  width: 150px;
}

#guesses {
  display: none;
}

#answer {
  width: 200px;
  height: 40px;
  border: solid 3px green;
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
}

#playAgainButton {
  display: none;
}

form {
  display: flex;
  gap: 5px;
}
